body {
    background-color: black;
    opacity: 0.8;
    color: aliceblue;
}
.orbit-image{
    max-height: 90%;
    z-index: -100;
}

.top-bar {
    background-color: transparent;
}

.gallery {
  width: 105%;
  overflow: hidden;
  margin-top: 50px;
  margin-left: -30px;
}
.card-line {
    list-style-type:none; 
    width: 100%;
    margin: 0px;
    padding: 0px;
    transition: margin-left 250ms;
}
.hero-card {
    width: 400px;
    float: left;
    border: 1px solid antiquewhite;
    text-align: center;
    margin: 10px 10px;
}
.card {
    display: block;
}
.img-hero {
    height: 400px;
    width:  400px;
}
.arrow {
  position: absolute;
  top: 50%;
  padding: 0;
  line-height: 24px;
  display: block;
}

/*.arrow:focus {
  outline: none;
}*/

#triangle-left:hover{
    border-right: 30px solid yellow;
    cursor: pointer;
}

#triangle-right:hover{
    border-left: 30px solid yellow;
    cursor: pointer;
}

#triangle-left {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 30px solid red;
	border-bottom: 15px solid transparent;
    left: 7px;
}


#triangle-right {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 30px solid red;
	border-bottom: 15px solid transparent;
    right: 7px;
}
