
div#carousel {
    -webkit-perspective:2500px;
    perspective:2500px;
    padding-top:3%;
    font-size:0;
    overflow:hidden;
    height: 90%;
}

figure#spinner {
    -webkit-transform-style:preserve-3d;
    transform-style: preserve-3d;
    transform-origin:  center center -800px;
    -webkit-transform-origin: center center -800px;
    transition: 1s;
}

figure#spinner img {
    -webkit-transform-origin: center center -800px;
    transform-origin-origin:center center -800px;
    width:300px;
    height: 400px;
    position:absolute;
    left: 50%;
}

figure#spinner img:hover{
    outline: 2px solid yellow;
    z-index: 100;
}


figure#spinner img:nth-child(1) { -webkit-transform:rotateY(0deg); }
figure#spinner img:nth-child(2) { -webkit-transform:rotateY(-24deg); }
figure#spinner img:nth-child(3) { -webkit-transform:rotateY(-48deg); }
figure#spinner img:nth-child(4) { -webkit-transform:rotateY(-72deg); }
figure#spinner img:nth-child(5) { -webkit-transform:rotateY(-96deg); }
figure#spinner img:nth-child(6) { -webkit-transform:rotateY(-120deg); }
figure#spinner img:nth-child(7) { -webkit-transform:rotateY(-144deg); }
figure#spinner img:nth-child(8) { -webkit-transform:rotateY(-168deg); }
figure#spinner img:nth-child(9) { -webkit-transform:rotateY(-192deg); }
figure#spinner img:nth-child(10) { -webkit-transform:rotateY(-216deg); }
figure#spinner img:nth-child(11) { -webkit-transform:rotateY(-240deg); }
figure#spinner img:nth-child(12) { -webkit-transform:rotateY(-264deg); }
figure#spinner img:nth-child(13) { -webkit-transform:rotateY(-288deg); }
figure#spinner img:nth-child(14) { -webkit-transform:rotateY(-312deg); }
figure#spinner img:nth-child(15) { -webkit-transform:rotateY(-336deg); }

