.header {
    background-color: black;
    color: white;
}
.footer {
    background-color: black;
    color: white;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    text-align: center;
}
#footer p{
    padding-top: 1%;
}
body {
    background-color: yellow;
}
#logo {
    height: 15%;
}